@model StudentManagement.Models.ResetPassword
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0">
    <title>SignUp</title>
    <link href="~/assets/css/loginPage.css" rel="stylesheet" />
</head>

<body>
    <header>
        <br />
        <h1 class="heading">StudentManagement</h1>
        <h3 class="title">Reset Password Form</h3>
    </header>

    <!-- container div -->
    <div class="container">
        <div class="form-section">

            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
            <div class="signup-box">
                <h3 class="heading subHeadlogin">Reset Password</h3>
                @Html.HiddenFor(SignUp => Model.Email, new { @id = "EmailReset" })
                @Html.HiddenFor(SignUp => Model.Code, new { @id = "CodeReset" })
            <div>
                <span class="signUpValidations"> @Html.ValidationMessageFor(SignUp => Model.Password) </span>
                @Html.PasswordFor(SignUp => Model.Password, new { placeholder = "Password", @id = "PasswordReset", @class = "password ele" })
            </div>
            <div>
                <span class="signUpValidations"> @Html.ValidationMessageFor(SignUp => Model.ConfirmPassword) </span>
                @Html.PasswordFor(SignUp => Model.ConfirmPassword, new { placeholder = "Confirm password", @id = "ConfirmPasswordReset", @class = "password ele" })
            </div>
                <button type="submit" class="btn btn-primary resetBTn">Change Password</button>
            </div>
            }

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="~/assets/JS/loginPage.js"></script>
</body>
</html>
